{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- About Section -->
    <section id="about" class="section about">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'img/classictrift18.jpeg' %}" class="img-fluid w-100" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>Shop Sustainably</h3>
            <p class="fst-italic">
              Welcome to Classic Thrift Boutique, where vintage charm meets modern affordability. We curate a collection of timeless pieces, each with its own story, for those who value quality, style, and sustainability. Whether you’re a vintage enthusiast or a savvy shopper, our boutique offers a wide range of carefully selected items for all tastes.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>we believe that fashion is a journey that you should walk with us and experience the most amazing adventure.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Discover designer pieces that elevate your wardrobe without breaking the bank.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Our goal is to empower our customers to look great and feel great about their choices.</span></li>
            </ul>
            <p>
              Browse through our collections and find pieces that speak to you, whether you’re shopping for basics, statement pieces, or anything in between. Classic Thrift Boutique is here to help you express yourself through fashion.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> <br><span> we are here to serve you.</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi-backpack"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Ask and we deliver</strong> <span>Classic thrift exceeds expectation.</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi-airplane"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Overseas products</strong> <span>Quality products from allover the world.</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Visit our branches</strong> <span>Over 32 branches all over the world.</span></p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Clients Section -->
    <section id="clients" class="section clients">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Clients</h2>
        <p>Our team is passionate about finding unique, one-of-a-kind pieces that make you look and feel incredible. With a keen eye for fashion and a commitment to quality, we’re here to help you find pieces that suit your style, enhance your wardrobe, and bring joy to your shopping experience.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">


    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our partners</h2>
        <p>Our products come from the world's best.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/logo.jpeg' %}" class="testimonial-img" alt="">
              <h3>GUCCHI</h3>
              <h4>gucchi products in store.</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Gucci is a special luxury brand, and you have to spend a good chunk of money for an authentic Gucci piece.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/dior.jpeg' %}" class="testimonial-img" alt="">
              <h3>DIOR</h3>
              <h4>Dior designer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Shop the Latest Fashion, Fragrances, Beauty and Accessories Collections Online. Every Order is Carefully Prepared in an Iconic Dior Gift Box.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/jlogo.jpeg' %}/" class="testimonial-img" alt="">
              <h3>JORDANS.</h3>
              <h4></h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Discover the latest Air Jordan news and releases. Stay ahead of the game with exclusive drops and insightful reviews of this iconic brand.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/zlogo.jpeg' %}" class="testimonial-img h-50" alt="">
              <h3>ZARA</h3>
              <h4></h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Discover the latest trends in clothing, accessories, and shoes for women, men, and kids at Zara's official online store. Weekly new trends in clothes, shoes & accessories at ZARA online.Free shipping for you to try on at your leisure.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/vlogo.jpeg' %}" class="testimonial-img h-60 w-60" alt="">
              <h3>VOGUE</h3>
              <h4></h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Vogue is the one-stop destination for women fashion, beauty, lifestyle and entertainment content. The new property aims at offering global perspective on the fashion industry with industrial insights.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/dlogo.jpeg' %}" class="testimonial-img h-60 w-60" alt="">
              <h3>DENRI.</h3>
              <h4></h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Our commitment to quality is unwavering. Each of our products is crafted from sustainable and durable materials. Our products carry the essence of African craftsmanship and creativity.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>

      </div>

    </section><!-- /Testimonials Section -->
      </div>
    </section>
  </main>
  {% endblock %}